.L-main{
    width: 100%;
    margin: 15vh 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.l-con{
    padding: 1.5vh;
    width: 35%;
    height: 90vh;
    border: 1px solid black;
    background-color: white;
}

.c1{
    justify-content: center;
}

.f{
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.s-in{
    font-size: 25px;
    margin:2vh 14vw;
}

.c-account{
   
    font-size: 20px;
    margin: -1vh 7vw 3vh 9vw;
}

.em{
    font-size: 0px;
    padding: 0px ;
}

.com{
}

.t{
    font-size: 15px;
}

.m{
    color: blue;
}

.c{
    display: flex;
    margin: 0vh 2vw;
    margin-top: 50px;
}

.acct{
    color: blue;
   margin: 0vh -2vw;
    font-size: 15px;
}


.bu{
    color: whitesmoke;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 1vh 3vw;
    background-color: blue;
}

.b{
    
    margin: 2vh 0vw 1vh 15vw;
}
