
.Header-container{
    display: flex;
    margin: 2vh 0vw 0vh 0vw;
    font-size: 10px;
}

.search-bar{
    height: 1cm;
    width: 25cm;
    margin: 0vh 0vw 0vh 5vw;
    border-radius: .5rem;
}

.header-icons{
    display: flex;
    font-size: 10px;
    margin: 1vh 0vw 0vh 0vw;
    min-width: 20px;
    color: white;
}

.keep{
    margin: -1vh 0vw 1vh 0vw;
    
}
h4 {font-size: 10px;}

 