.mainContainer{
    height: 1cm;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0vh 25vw;
    .firstContainer{
        box-shadow: -1px -1px 5px rgb(153, 150, 150),
        1px 1px 10px rgb(153, 150, 150);
        display: flex;
        width: 100%;
       
      .firstTitle{
            width: 70%;
            outline: none;
            border: none;
        }
        .firstTitleIcon{
            width: 25%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    .secondContainer{
        box-shadow: -1px -1px 5px rgb(153, 150, 150),
        1px 1px 10px rgb(153, 150, 150);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
    
        .Titlepart{
            outline: none;
            border: none;
            width: 100%;
            height: 90px;
            align-items: center;
            justify-content: center;
            background-color: inherit;
        }
        .Descriptionpart{
            outline: none;
            border: none;
            width: 100%;
            height: 80px;
            background-color: inherit;
        }
        .onecontainer{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .Iconpart{
                width: 60%;
                display: flex;
                justify-content: space-around;
               
            }
           
    }
    }

}

@media screen and (max-width:375px) {
    .firstContainer{
        width: 100%;
        margin-left: 0px;
        .firstContainer{
            display: flex;
            width: 90%;
            .firstTitleIcon{
                width: 35%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}


@media screen and (max-width:500px) {
    .firstContainer{
        width: 100%;
        margin-left: 0px;
        .firstContainer{
            display: flex;
            width: 90%;
            .firstTitleIcon{
                width: 35%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}