
.mainDisplay{
    box-shadow: -1px -1px 3px rgb(153, 150, 150),
    1px 1px 10px rgb(153, 150, 150);
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 160px;
    height: 150px
    

}
    .partmain{
        outline: none;
        border: none;
        margin: -2vh 0vw;
        width: 100%;
        height: 90px;
        align-items: center;
        justify-content: center;
    }
    .main{
        outline: none;
            border: none;
            width: 100%;
            height: 80px;
    }

    .displayBox{
   
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .des-icons{
       margin-top: 45px;
      justify-content: space-between;
        width: 60%;
        display: flex;
    //   margin: 5vh 1vw;
    }
   

